{% extends "main.html" %}
{% block maincontent %}
		<input type="button" id="getitButton" value="Refresh"/>
	
		<h2>Please select a Date</h2>
		<p>Date:
		    <input id="txtDate" type="text" />
		</p>
		<p>
		    <input type="button" onclick="getdate_back()" value="<<" />
		</p>
		<p>
		    <input type="button" onclick="getdate_forward()" value=">>" />
		</p>
		<h1>Welcome to SugarDaddy</h1>
		<div class="container">
			<form>
				<label>Blood Sugar: </label>
				<input type="text" id="blood_sugar" name="blood_sugar"/><br/>
				<label>Insulin:</label>
				<input type="text" id="insulin" name="insulin"/><br/>
				<label>Food:</label>
				<textarea id="food" name="food"></textarea>
				</br>
				<input id="post_entry" type="button" value="Publish"/>
			</form>
		</div>
		<div id='test'>
			<h2>Readings</h2>
			<table id="reez">
				<tr>
				    <td></td>
				</tr>
				<tr>
				    <div id="results"></div>
				</tr>
			</table>
		</div>
{% endblock %}